@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Asap-Medium";
  src: url("/src/assets/fonts/AsapCondensed-Medium.woff2") format("woff2"), url("/src/assets/fonts/AsapCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Asap-Regular";
  src: url("/src/assets/fonts/AsapCondensed-Regular.woff2") format("woff2"), url("/src/assets/fonts/AsapCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #a2041c;
  --hover-color: #8e0217;
  --primary-gradient-left: #880a1d;
  --primary-gradient-right: #9c172b;
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.heading-md {
  @apply font-asap-medium leading-tight;
  font-size: clamp(22px, calc(1.375rem + ((1vw - 3.2px) * 0.375)), 28px);
}

.heading-lg {
  @apply font-asap-regular leading-none;
  letter-spacing: -0.5px;
  font-size: clamp(32px, calc(2rem + ((1vw - 3.2px) * 0.625)), 42px);
}

.heading-xl {
  @apply font-asap-regular leading-[1.2] md:leading-none;
  letter-spacing: 0.5px;
  font-size: clamp(38px, calc(2.375rem + ((1vw - 3.2px) * 1.625)), 64px);
}

.p-horizontal {
  @apply px-4 md:px-8 xl:px-16;
}

.bg-primary-gradient {
  background-image: linear-gradient(266deg, var(--primary-gradient-left) 73%, var(--primary-gradient-right));
}

.subscribe-circle-mobile {
  background-image: linear-gradient(45deg, #ffffff13 47%, #ffffff00 88%);
}

.circle-1 {
  @apply absolute right-[-42%] top-[-500px] z-[0] hidden aspect-square w-[1550px] min-w-[100%] max-w-[112%] rounded-full opacity-70  md:block lg:top-[-800px];
  background: linear-gradient(159deg, rgba(221, 233, 238, 1) 0%, rgba(219, 232, 235, 1) 28%, rgba(229, 234, 236, 1) 53%, rgba(218, 227, 231, 1) 100%);
}

.circle-2 {
  @apply absolute right-[-50%] top-[12%] z-[0] hidden aspect-square w-[1800px] min-w-[115%] max-w-[120%] rounded-full  opacity-75 md:block;
  background: linear-gradient(225deg, rgba(219, 227, 230, 1) 0%, rgba(228, 234, 237, 1) 40%, rgba(220, 226, 235, 1) 82%, rgba(226, 231, 233, 1) 100%);
}

.circle-3 {
  @apply absolute right-[-40%] top-[17%] z-[1] hidden aspect-square w-[1050px] min-w-[60%] max-w-[65%] rounded-full opacity-80 md:block;

  background: linear-gradient(199deg, rgba(207, 214, 217, 1) 0%, rgba(217, 224, 227, 1) 40%, rgba(228, 233, 236, 1) 82%);
}
